*{
    margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("banner2.jpg") ;
    background-size: cover;
    background-position: center;
    position: relative;
}  
nav{
    color: #fff;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    height: 2px;
    width: 0%;
    display: block;
    background-color: rgb(247, 62, 6);
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box a{
    color: #fff;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font: 15px;
}
.button1{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    height: 20px;
    padding:  15px 35px;
    background: transparent;
    cursor: pointer;
}
.button1:hover{
    border: 1px solid rgb(247, 62, 6);
    background: rgb(247, 62, 6);
    transition: 0.5s;
}
.course{
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

 h1{
    font-size: 35px;
    font-weight: 600;

}
 p{
    font-size: 15px;
    color: gray;
    line-height: 22px;
    padding: 10px;
    font-weight: 300;

}


.raw{
    margin-top:  5%;
    
   display: flex;
   justify-content:space-between;
    
    
}
.course-column{
   
    margin-left: 5px;
    background-color: #d9dff3;
    border-radius: 50px;
    margin-bottom: 5%;
    padding: 25px 15px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600; 
    margin: 10px 0;
}
.course-column:hover{
    box-shadow: #fff3f3; 

}

